<%= form_with(model: relational, class: "contents") do |form| %>
<% if relational.errors.any? %>
<div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
  <h2><%= pluralize(relational.errors.count, "error") %> prohibited this relational from being saved:</h2>

  <ul>
    <% relational.errors.each do |error| %>
    <li><%= error.full_message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="my-5">
  <%= form.label :user_id %>
  <%= form.text_field :user_id, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
</div>


<div class="py-10">
  <%= form.label :"En mis funciones en el SENA busco soluciones a las dificultades teniendo en cuenta las diferentes perspectivas de mis compañeros." %><br>
  <%=form.label :"Selecciona tu respuesta", class: 'mt-4' %>
  <div class="flex flex-col space-y-2 p-2 w-100">
    <%= form.range_field :answers, in: 1..5, class: 'form-range mt-4 w-full' %>
    <ul class="flex justify-between w-full px-[10px]">
      <li class="flex justify-center relative"><span class="absolute">Nunca</li>
      <li class="flex justify-center relative"><span class="absolute">Casi nunca</li>
      <li class="flex justify-center relative"><span class="absolute">Algunas Veces</li>
      <li class="flex justify-center relative"><span class="absolute">Casi Siempre</li>
      <li class="flex justify-center relative"><span class="absolute">Siempre</li>
    </ul>
  </div>
</div>

<div class="py-10">
  <%= form.label :"Me comunico asertivamente con mis compañeros y/o líderes" %><br>
  <%=form.label :"Selecciona tu respuesta", class: 'mt-4' %>
  <div class="flex flex-col space-y-2 p-2 w-100">
    <%= form.range_field :answers2, in: 1..5, class: 'form-range mt-4 w-full' %>
    <ul class="flex justify-between w-full px-[10px]">
      <li class="flex justify-center relative"><span class="absolute">Nunca</li>
      <li class="flex justify-center relative"><span class="absolute">Casi nunca</li>
      <li class="flex justify-center relative"><span class="absolute">Algunas Veces</li>
      <li class="flex justify-center relative"><span class="absolute">Casi Siempre</li>
      <li class="flex justify-center relative"><span class="absolute">Siempre</li>
    </ul>
  </div>
</div>

<div class="py-10">
  <%= form.label :"Soy una persona dedicada en el cumplimiento de mis compromisos y funciones asignadas."%>
  <%=form.label :"Selecciona tu respuesta", class: 'mt-4' %>
  <div class="flex flex-col space-y-2 p-2 w-100">
    <%= form.range_field :answers3, in: 1..5, class: 'form-range mt-4 w-full' %>
    <ul class="flex justify-between w-full px-[10px]">
      <li class="flex justify-center relative"><span class="absolute">Nunca</li>
      <li class="flex justify-center relative"><span class="absolute">Casi nunca</li>
      <li class="flex justify-center relative"><span class="absolute">Algunas Veces</li>
      <li class="flex justify-center relative"><span class="absolute">Casi Siempre</li>
      <li class="flex justify-center relative"><span class="absolute">Siempre</li>
    </ul>
  </div>
</div>

<div class="py-10">
  <%= form.label :"Poseo una mentalidad abierta: analizo las ventajas y desventajas de cada situación." %><br>
  <%=form.label :"Selecciona tu respuesta", class: 'mt-4' %>
  <div class="flex flex-col space-y-2 p-2 w-100">
    <%= form.range_field :answers4, in: 1..5, class: 'form-range mt-4 w-full' %>
    <ul class="flex justify-between w-full px-[10px]">
      <li class="flex justify-center relative"><span class="absolute">Nunca</li>
      <li class="flex justify-center relative"><span class="absolute">Casi nunca</li>
      <li class="flex justify-center relative"><span class="absolute">Algunas Veces</li>
      <li class="flex justify-center relative"><span class="absolute">Casi Siempre</li>
      <li class="flex justify-center relative"><span class="absolute">Siempre</li>
    </ul>
  </div>
</div>

<div class="py-10">
  <%= form.label :"En el trabajo colaborativo mis compañeros busco generar un clima de confianza." %><br>
  <%=form.label :"Selecciona tu respuesta", class: 'mt-4' %>
  <div class="flex flex-col space-y-2 p-2 w-100">
    <%= form.range_field :answers5, in: 1..5, class: 'form-range mt-4 w-full' %>
    <ul class="flex justify-between w-full px-[10px]">
      <li class="flex justify-center relative"><span class="absolute">Nunca</li>
      <li class="flex justify-center relative"><span class="absolute">Casi nunca</li>
      <li class="flex justify-center relative"><span class="absolute">Algunas Veces</li>
      <li class="flex justify-center relative"><span class="absolute">Casi Siempre</li>
      <li class="flex justify-center relative"><span class="absolute">Siempre</li>
    </ul>
  </div>
</div>

<div class="py-10">
  <%= form.label :"Me gusta motivar a mi equipo de trabajo en dirección al logro de los objetivos de la entidad." %><br>
  <%=form.label :"Selecciona tu respuesta", class: 'mt-4' %>
  <div class="flex flex-col space-y-2 p-2 w-100">
    <%= form.range_field :answers6, in: 1..5, class: 'form-range mt-4 w-full' %>
    <ul class="flex justify-between w-full px-[10px]">
      <li class="flex justify-center relative"><span class="absolute">Nunca</li>
      <li class="flex justify-center relative"><span class="absolute">Casi nunca</li>
      <li class="flex justify-center relative"><span class="absolute">Algunas Veces</li>
      <li class="flex justify-center relative"><span class="absolute">Casi Siempre</li>
      <li class="flex justify-center relative"><span class="absolute">Siempre</li>
    </ul>
  </div>
</div>

<div class="py-10">
  <%= form.label :"Me relaciono con mis compañeros sin hacer distinciones por su rol o cargo en la entidad,  por condiciones socioculturales o por jerarquías de poder." %><br>
  <%=form.label :"Selecciona tu respuesta", class: 'mt-4' %>
  <div class="flex flex-col space-y-2 p-2 w-100">
    <%= form.range_field :answers7, in: 1..5, class: 'form-range mt-4 w-full' %>
    <ul class="flex justify-between w-full px-[10px]">
      <li class="flex justify-center relative"><span class="absolute">Nunca</li>
      <li class="flex justify-center relative"><span class="absolute">Casi nunca</li>
      <li class="flex justify-center relative"><span class="absolute">Algunas Veces</li>
      <li class="flex justify-center relative"><span class="absolute">Casi Siempre</li>
      <li class="flex justify-center relative"><span class="absolute">Siempre</li>
    </ul>
  </div>
</div>

<div class="py-10">
  <%= form.label :"Busco lograr objetivos institucionales con mi equipo de trabajo haciendo uso de una comunicación clara y directa." %><br>
  <%=form.label :"Selecciona tu respuesta", class: 'mt-4' %>
  <div class="flex flex-col space-y-2 p-2 w-100">
    <%= form.range_field :answers8, in: 1..5, class: 'form-range mt-4 w-full' %>
    <ul class="flex justify-between w-full px-[10px]">
      <li class="flex justify-center relative"><span class="absolute">Nunca</li>
      <li class="flex justify-center relative"><span class="absolute">Casi nunca</li>
      <li class="flex justify-center relative"><span class="absolute">Algunas Veces</li>
      <li class="flex justify-center relative"><span class="absolute">Casi Siempre</li>
      <li class="flex justify-center relative"><span class="absolute">Siempre</li>
    </ul>
  </div>
</div>

<div class="py-10">
  <%= form.label :"Genero espacios colaborativos con servidores, instructores, compañeros de regional, líderes y/o aprendices que me permitan lograr los objetivos institucionales." %><br>
  <%=form.label :"Selecciona tu respuesta", class: 'mt-4' %>
  <div class="flex flex-col space-y-2 p-2 w-100">
    <%= form.range_field :answers9, in: 1..5, class: 'form-range mt-4 w-full' %>
    <ul class="flex justify-between w-full px-[10px]">
      <li class="flex justify-center relative"><span class="absolute">Nunca</li>
      <li class="flex justify-center relative"><span class="absolute">Casi nunca</li>
      <li class="flex justify-center relative"><span class="absolute">Algunas Veces</li>
      <li class="flex justify-center relative"><span class="absolute">Casi Siempre</li>
      <li class="flex justify-center relative"><span class="absolute">Siempre</li>
    </ul>
  </div>
</div>

<div class="py-10">
  <%= form.label :"Tengo disposición para solicitar ayuda cuando lo requiera y de brindar colaboración cuando mis compañeros lo necesiten." %><br>
  <%=form.label :"Selecciona tu respuesta", class: 'mt-4' %>
  <div class="flex flex-col space-y-2 p-2 w-100">
    <%= form.range_field :answers10, in: 1..5, class: 'form-range mt-4 w-full' %>
    <ul class="flex justify-between w-full px-[10px]">
      <li class="flex justify-center relative"><span class="absolute">Nunca</li>
      <li class="flex justify-center relative"><span class="absolute">Casi nunca</li>
      <li class="flex justify-center relative"><span class="absolute">Algunas Veces</li>
      <li class="flex justify-center relative"><span class="absolute">Casi Siempre</li>
      <li class="flex justify-center relative"><span class="absolute">Siempre</li>
    </ul>
  </div>
</div>

<div class="inline">
  <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
</div>
<% end %>
