<div class="container mx-auto md:w-2/3"
<div id="<%= dom_id relational %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Respuestas que seleccionaste</strong>
  </p>

  <div class="py-10">
    <p class="my-5">
      <strong class="block font-medium mb-1">En mis funciones en el SENA busco soluciones a las dificultades teniendo en
        cuenta las diferentes perspectivas de mis compañeros.</strong>
      <div class="flex flex-col space-y-2 p-2 w-100">
        <input type="range" class="form-range mt-4 w-full" min="1" max="5" value="<%= relational.answers %>" step="1" disabled>
        <ul class="flex justify-between w-full px-[10px]">
          <li class="flex justify-center relative"><span class="absolute">Nunca</li>
          <li class="flex justify-center relative"><span class="absolute">Casi nunca</li>
          <li class="flex justify-center relative"><span class="absolute">Algunas Veces</li>
          <li class="flex justify-center relative"><span class="absolute">Casi Siempre</li>
          <li class="flex justify-center relative"><span class="absolute">Siempre</li>
        </ul>
      </div>
    </p>
  </div>

  <div class="py-10">
    <p class="my-5">
      <strong class="block font-medium mb-1">Me comunico asertivamente con mis compañeros y/o líderes</strong>
      <div class="flex flex-col space-y-2 p-2 w-100">
        <input type="range" class="form-range mt-4 w-full" min="1" max="5" value="<%= relational.answers2 %>" step="1" disabled>
        <ul class="flex justify-between w-full px-[10px]">
          <li class="flex justify-center relative"><span class="absolute">Nunca</li>
          <li class="flex justify-center relative"><span class="absolute">Casi nunca</li>
          <li class="flex justify-center relative"><span class="absolute">Algunas Veces</li>
          <li class="flex justify-center relative"><span class="absolute">Casi Siempre</li>
          <li class="flex justify-center relative"><span class="absolute">Siempre</li>
        </ul>
      </div>
    </p>
  </div>

  <div class="py-10">
    <p class="my-5">
      <strong class="block font-medium mb-1">Soy una persona dedicada en el cumplimiento de mis compromisos y funciones asignadas.</strong>
      <div class="flex flex-col space-y-2 p-2 w-100">
        <input type="range" class="form-range mt-4 w-full" min="1" max="5" value="<%= relational.answers3 %>" step="1" disabled>
        <%= relational.answers3 %>
        <ul class="flex justify-between w-full px-[10px]">
          <li class="flex justify-center relative"><span class="absolute">Nunca</li>
          <li class="flex justify-center relative"><span class="absolute">Casi nunca</li>
          <li class="flex justify-center relative"><span class="absolute">Algunas Veces</li>
          <li class="flex justify-center relative"><span class="absolute">Casi Siempre</li>
          <li class="flex justify-center relative"><span class="absolute">Siempre</li>
        </ul>
      </div>
    </p>
  </div>

  <div class="py-10">
    <p class="my-5">
      <strong class="block font-medium mb-1">Poseo una mentalidad abierta: analizo las ventajas y desventajas de cada situación.</strong>
      <div class="flex flex-col space-y-2 p-2 w-100">
        <input type="range" class="form-range mt-4 w-full" min="1" max="5" value="<%= relational.answers4 %>" step="1" disabled>
        <%= relational.answers4 %>
        <ul class="flex justify-between w-full px-[10px]">
          <li class="flex justify-center relative"><span class="absolute">Nunca</li>
          <li class="flex justify-center relative"><span class="absolute">Casi nunca</li>
          <li class="flex justify-center relative"><span class="absolute">Algunas Veces</li>
          <li class="flex justify-center relative"><span class="absolute">Casi Siempre</li>
          <li class="flex justify-center relative"><span class="absolute">Siempre</li>
        </ul>
      </div>
    </p>
  </div>

  <div class="py-10">
    <p class="my-5">
      <strong class="block font-medium mb-1">En el trabajo colaborativo mis compañeros busco generar un clima de confianza.</strong>
      <div class="flex flex-col space-y-2 p-2 w-100">
        <input type="range" class="form-range mt-4 w-full" min="1" max="5" value="<%= relational.answers5 %>" step="1" disabled>
        <%= relational.answers5 %>
        <ul class="flex justify-between w-full px-[10px]">
          <li class="flex justify-center relative"><span class="absolute">Nunca</li>
          <li class="flex justify-center relative"><span class="absolute">Casi nunca</li>
          <li class="flex justify-center relative"><span class="absolute">Algunas Veces</li>
          <li class="flex justify-center relative"><span class="absolute">Casi Siempre</li>
          <li class="flex justify-center relative"><span class="absolute">Siempre</li>
        </ul>
      </div>
    </p>
  </div>

  <div class="py-10">
    <p class="my-5">
      <strong class="block font-medium mb-1">Me gusta motivar a mi equipo de trabajo en dirección al logro de los objetivos de la entidad.</strong>
      <div class="flex flex-col space-y-2 p-2 w-100">
        <input type="range" class="form-range mt-4 w-full" min="1" max="5" value="<%= relational.answers6 %>" step="1" disabled>
        <%= relational.answers6 %>
        <ul class="flex justify-between w-full px-[10px]">
          <li class="flex justify-center relative"><span class="absolute">Nunca</li>
          <li class="flex justify-center relative"><span class="absolute">Casi nunca</li>
          <li class="flex justify-center relative"><span class="absolute">Algunas Veces</li>
          <li class="flex justify-center relative"><span class="absolute">Casi Siempre</li>
          <li class="flex justify-center relative"><span class="absolute">Siempre</li>
        </ul>
      </div>
    </p>
  </div>

  <div class="py-10">
    <p class="my-5">
      <strong class="block font-medium mb-1">Me relaciono con mis compañeros sin hacer distinciones por su rol o cargo en la entidad, por condiciones socioculturales o por jerarquías de poder.</strong>
      <div class="flex flex-col space-y-2 p-2 w-100">
        <input type="range" class="form-range mt-4 w-full" min="1" max="5" value="<%= relational.answers7 %>" step="1" disabled>
        <%= relational.answers7 %>
        <ul class="flex justify-between w-full px-[10px]">
          <li class="flex justify-center relative"><span class="absolute">Nunca</li>
          <li class="flex justify-center relative"><span class="absolute">Casi nunca</li>
          <li class="flex justify-center relative"><span class="absolute">Algunas Veces</li>
          <li class="flex justify-center relative"><span class="absolute">Casi Siempre</li>
          <li class="flex justify-center relative"><span class="absolute">Siempre</li>
        </ul>
      </div>
    </p>
  </div>


  <div class="py-10">
    <p class="my-5">
      <strong class="block font-medium mb-1">Busco lograr objetivos institucionales con mi equipo de trabajo haciendo uso de una comunicación clara y directa.</strong>
      <div class="flex flex-col space-y-2 p-2 w-100">
        <input type="range" class="form-range mt-4 w-full" min="1" max="5" value="<%= relational.answers8 %>" step="1" disabled>
        <%= relational.answers8 %>
        <ul class="flex justify-between w-full px-[10px]">
          <li class="flex justify-center relative"><span class="absolute">Nunca</li>
          <li class="flex justify-center relative"><span class="absolute">Casi nunca</li>
          <li class="flex justify-center relative"><span class="absolute">Algunas Veces</li>
          <li class="flex justify-center relative"><span class="absolute">Casi Siempre</li>
          <li class="flex justify-center relative"><span class="absolute">Siempre</li>
        </ul>
      </div>
    </p>
  </div>

  <div class="py-10">
    <p class="my-5">
      <strong class="block font-medium mb-1">Genero espacios colaborativos con servidores, instructores, compañeros de regional, líderes y/o aprendices que me permitan lograr los objetivos institucionales.</strong>
      <div class="flex flex-col space-y-2 p-2 w-100">
        <input type="range" class="form-range mt-4 w-full" min="1" max="5" value="<%= relational.answers9 %>" step="1" disabled>
        <%= relational.answers9 %>
        <ul class="flex justify-between w-full px-[10px]">
          <li class="flex justify-center relative"><span class="absolute">Nunca</li>
          <li class="flex justify-center relative"><span class="absolute">Casi nunca</li>
          <li class="flex justify-center relative"><span class="absolute">Algunas Veces</li>
          <li class="flex justify-center relative"><span class="absolute">Casi Siempre</li>
          <li class="flex justify-center relative"><span class="absolute">Siempre</li>
        </ul>
      </div>
    </p>
  </div>

  <div class="py-10">
    <p class="my-5">
      <strong class="block font-medium mb-1">Tengo disposición para solicitar ayuda cuando lo requiera y de brindar colaboración cuando mis compañeros lo necesiten.</strong>
      <div class="flex flex-col space-y-2 p-2 w-100">
        <input type="range" class="form-range mt-4 w-full" min="1" max="5" value="<%= relational.answers10 %>" step="1" disabled>
        <%= relational.answers10 %>
        <ul class="flex justify-between w-full px-[10px]">
          <li class="flex justify-center relative"><span class="absolute">Nunca</li>
          <li class="flex justify-center relative"><span class="absolute">Casi nunca</li>
          <li class="flex justify-center relative"><span class="absolute">Algunas Veces</li>
          <li class="flex justify-center relative"><span class="absolute">Casi Siempre</li>
          <li class="flex justify-center relative"><span class="absolute">Siempre</li>
        </ul>
      </div>
    </p>
  </div>

  <% if action_name != "show" %>
  <%= link_to "Show this relational", relational, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <%= link_to 'Edit this relational', edit_relational_path(relational), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
  <hr class="mt-6">
  <% end %>
</div>
</div>
