<div id="<%= dom_id inspiring %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Respuestas que seleccionaste</strong>
  </p>

  <div class="py-10">
    <p class="my-5">
      <strong class="block font-medium mb-1">Mis funciones en el SENA siento que son fuente de satisfacción, siento
        pasión por lo que hago, dónde lo hago y cómo lo hago.</strong>
      <div class="flex flex-col space-y-2 p-2 w-100">
        <input type="range" class="form-range mt-4 w-full" min="1" max="5" value="<%= inspiring.answers %>" step="1">
        <ul class="flex justify-between w-full px-[10px]">
          <li class="flex justify-center relative"><span class="absolute">Nunca</li>
          <li class="flex justify-center relative"><span class="absolute">Casi nunca</li>
          <li class="flex justify-center relative"><span class="absolute">Algunas Veces</li>
          <li class="flex justify-center relative"><span class="absolute">Casi Siempre</li>
          <li class="flex justify-center relative"><span class="absolute">Siempre</li>
        </ul>
      </div>
    </p>
  </div>

  <div class="py-10">
    <p class="my-5">
      <strong class="block font-medium mb-1">La ejecución de mis funciones en el SENA me representa satisfacción
        personal.</strong>
      <div class="flex flex-col space-y-2 p-2 w-100">
        <input type="range" class="form-range mt-4 w-full" min="1" max="5" value="<%= inspiring.answers2 %>" step="1">
        <ul class="flex justify-between w-full px-[10px]">
          <li class="flex justify-center relative"><span class="absolute">Nunca</li>
          <li class="flex justify-center relative"><span class="absolute">Casi nunca</li>
          <li class="flex justify-center relative"><span class="absolute">Algunas Veces</li>
          <li class="flex justify-center relative"><span class="absolute">Casi Siempre</li>
          <li class="flex justify-center relative"><span class="absolute">Siempre</li>
        </ul>
      </div>
    </p>
  </div>

  <div class="py-10">
    <p class="my-5">
      <strong class="block font-medium mb-1">En el desarrollo de mis funciones en el SENA me permito construir un
        vínculo auténtico y cercano con mis compañeros.</strong>
      <div class="flex flex-col space-y-2 p-2 w-100">
        <input type="range" class="form-range mt-4 w-full" min="1" max="5" value="<%= inspiring.answers3 %>" step="1">
        <ul class="flex justify-between w-full px-[10px]">
          <li class="flex justify-center relative"><span class="absolute">Nunca</li>
          <li class="flex justify-center relative"><span class="absolute">Casi nunca</li>
          <li class="flex justify-center relative"><span class="absolute">Algunas Veces</li>
          <li class="flex justify-center relative"><span class="absolute">Casi Siempre</li>
          <li class="flex justify-center relative"><span class="absolute">Siempre</li>
        </ul>
      </div>
    </p>
  </div>

  <div class="py-10">
    <p class="my-5">
      <strong class="block font-medium mb-1">Considero que mis funciones en el SENA me ha permitido desarrollar mis
        talentos.</strong>
      <div class="flex flex-col space-y-2 p-2 w-100">
        <input type="range" class="form-range mt-4 w-full" min="1" max="5" value="<%= inspiring.answers4 %>" step="1">
        <ul class="flex justify-between w-full px-[10px]">
          <li class="flex justify-center relative"><span class="absolute">Nunca</li>
          <li class="flex justify-center relative"><span class="absolute">Casi nunca</li>
          <li class="flex justify-center relative"><span class="absolute">Algunas Veces</li>
          <li class="flex justify-center relative"><span class="absolute">Casi Siempre</li>
          <li class="flex justify-center relative"><span class="absolute">Siempre</li>
        </ul>
      </div>
    </p>
  </div>

  <div class="py-10">
    <p class="my-5">
      <strong class="block font-medium mb-1">Considero que estoy comprometido con los procesos de cambio y
        transformación que vive la entidad.</strong>
      <div class="flex flex-col space-y-2 p-2 w-100">
        <input type="range" class="form-range mt-4 w-full" min="1" max="5" value="<%= inspiring.answers5 %>" step="1">
        <ul class="flex justify-between w-full px-[10px]">
          <li class="flex justify-center relative"><span class="absolute">Nunca</li>
          <li class="flex justify-center relative"><span class="absolute">Casi nunca</li>
          <li class="flex justify-center relative"><span class="absolute">Algunas Veces</li>
          <li class="flex justify-center relative"><span class="absolute">Casi Siempre</li>
          <li class="flex justify-center relative"><span class="absolute">Siempre</li>
        </ul>
      </div>
    </p>
  </div>

  <div class="py-10">
    <p class="my-5">
      <strong class="block font-medium mb-1">En el relacionamiento con las diferentes personas en la entidad soy
        empático.</strong>
      <div class="flex flex-col space-y-2 p-2 w-100">
        <input type="range" class="form-range mt-4 w-full" min="1" max="5" value="<%= inspiring.answers6 %>" step="1">
        <ul class="flex justify-between w-full px-[10px]">
          <li class="flex justify-center relative"><span class="absolute">Nunca</li>
          <li class="flex justify-center relative"><span class="absolute">Casi nunca</li>
          <li class="flex justify-center relative"><span class="absolute">Algunas Veces</li>
          <li class="flex justify-center relative"><span class="absolute">Casi Siempre</li>
          <li class="flex justify-center relative"><span class="absolute">Siempre</li>
        </ul>
      </div>
    </p>
  </div>

  <div class="py-10">
    <p class="my-5">
      <strong class="block font-medium mb-1">Me perciben como una persona con iniciativa para realizar mis funciones con
        un enfoque innovador.</strong>
      <div class="flex flex-col space-y-2 p-2 w-100">
        <input type="range" class="form-range mt-4 w-full" min="1" max="5" value="<%= inspiring.answers7 %>" step="1">
        <ul class="flex justify-between w-full px-[10px]">
          <li class="flex justify-center relative"><span class="absolute">Nunca</li>
          <li class="flex justify-center relative"><span class="absolute">Casi nunca</li>
          <li class="flex justify-center relative"><span class="absolute">Algunas Veces</li>
          <li class="flex justify-center relative"><span class="absolute">Casi Siempre</li>
          <li class="flex justify-center relative"><span class="absolute">Siempre</li>
        </ul>
      </div>
    </p>
  </div>

  <div class="py-10">
    <p class="my-5">
      <strong class="block font-medium mb-1">Soy una persona que comprendo mis emociones, se cómo usarlas y controlarlas
        en el cumplimiento de las funciones en el SENA.</strong>
      <div class="flex flex-col space-y-2 p-2 w-100">
        <input type="range" class="form-range mt-4 w-full" min="1" max="5" value="<%= inspiring.answers8 %>" step="1">
        <ul class="flex justify-between w-full px-[10px]">
          <li class="flex justify-center relative"><span class="absolute">Nunca</li>
          <li class="flex justify-center relative"><span class="absolute">Casi nunca</li>
          <li class="flex justify-center relative"><span class="absolute">Algunas Veces</li>
          <li class="flex justify-center relative"><span class="absolute">Casi Siempre</li>
          <li class="flex justify-center relative"><span class="absolute">Siempre</li>
        </ul>
      </div>
    </p>
  </div>

  <div class="py-10">
    <p class="my-5">
      <strong class="block font-medium mb-1">Motivo constantemente a quienes me rodean en su proceso en la entidad, les
        recuerdo lo valiosos que son y su potencial personal.</strong>
      <div class="flex flex-col space-y-2 p-2 w-100">
        <input type="range" class="form-range mt-4 w-full" min="1" max="5" value="<%= inspiring.answers9 %>" step="1">
        <ul class="flex justify-between w-full px-[10px]">
          <li class="flex justify-center relative"><span class="absolute">Nunca</li>
          <li class="flex justify-center relative"><span class="absolute">Casi nunca</li>
          <li class="flex justify-center relative"><span class="absolute">Algunas Veces</li>
          <li class="flex justify-center relative"><span class="absolute">Casi Siempre</li>
          <li class="flex justify-center relative"><span class="absolute">Siempre</li>
        </ul>
      </div>
    </p>
  </div>

  <div class="py-10">
    <p class="my-5">
      <strong class="block font-medium mb-1">Tengo un profundo sentido de compromiso con la misión del SENA, la cual
        trasmito y contagio a mi equipo de trabajo.</strong>
      <div class="flex flex-col space-y-2 p-2 w-100">
        <input type="range" class="form-range mt-4 w-full" min="1" max="5" value="<%= inspiring.answers10 %>" step="1">
        <ul class="flex justify-between w-full px-[10px]">
          <li class="flex justify-center relative"><span class="absolute">Nunca</li>
          <li class="flex justify-center relative"><span class="absolute">Casi nunca</li>
          <li class="flex justify-center relative"><span class="absolute">Algunas Veces</li>
          <li class="flex justify-center relative"><span class="absolute">Casi Siempre</li>
          <li class="flex justify-center relative"><span class="absolute">Siempre</li>
        </ul>
      </div>
    </p>
  </div>



  <% if action_name != "show" %>
  <%= link_to "Show this inspiring", inspiring, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <%= link_to 'Edit this inspiring', edit_inspiring_path(inspiring), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
  <hr class="mt-6">
  <% end %>
</div>
